<html lang="en">
          <!-- loads the static files -->
          {% load static %}
    <head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Crypto Portfolio tracker makes it easier for inexperienced traders to monitor their crypto portfolio. Presenting data in a beginner-friendly manner.">
    <meta name="keywords" content="crypto, trader, trading, easy trading, cryptocurrencies, bitcoin, cryptocurrencies, investor, investing, currency, BTC, ETH, etherium, portfolio, crypto dashboard, dashboard, tokens, tickers, market cap,markets,bearish, bullish">
    <!-- Link for Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link to jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Link to js CDN  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Link to Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Link to js file -->
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <!-- Link to css -->
    <link link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
  <!-- Navbar -->
        <nav class="navbar navbar-dark">
            <ul class="nav">
                <!-- Navbar when the user is logged in -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                <!-- personalised welcome message for the user -->
                <a class="nav-link">Welcome, {{user.username|title}}</a>
                </li>
                <!-- page links when logged in-->
                <li class="nav-item">
                    <a class="nav-link active" href="/Templates/index.html"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Templates/top100.html"> Top 100 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Templates/portfolio.html"> Portfolio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
                </li>
                {% else %}
                <!-- Page links when logged out-->
                <li class="nav-item">
                    <a class="nav-link" href="/Templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Templates/top100.html"> Top 100 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Templates/registration.html">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Templates/login.html">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
        
        <!-- opens modal onclick-->
        <script>
            $(document).ready(function(){
                $("#Btn").click(function(){
                    $("#myModal").modal();
                });
            });
        </script>
     <!-- footer -->
    <footer class="fixed-bottom">Copyright 2021 Brieanna McDonald</footer>
    </body>
</html>