<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Crypto Portfolio tracker makes it easier for inexperienced traders to monitor their crypto portfolio. Presenting data in a beginner-friendly manner.">
    <meta name="keywords" content="crypto, trader, trading, easy trading, cryptocurrencies, bitcoin, cryptocurrencies, investor, investing, currency, BTC, ETH, etherium, portfolio, crypto dashboard, dashboard, tokens, tickers, market cap,markets,bearish, bullish">
    <!-- Links to  Bootstrap css, Fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
  <!-- Navbar -->
    <nav class="navbar navbar-dark bg-light">
        <ul class="nav">
         <!-- Navbar when the user is logged in -->
        {% if user.is_authenticated %}
        <li class="nav-item">
         <!-- personalised welcome message for the user -->
        <a class="nav-link">Welcome, {{user.username}}</a>
        </li>
        <!-- Page links when logged in-->
        <li class="nav-item">
        <a class="nav-link active" href="/Templates/index.html">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="/Templates/portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/Templates/logout.html">Logout</a>
        </li>
        {% else %}
        <!-- Page links when logged out-->
        <li class="nav-item">
            <a class="nav-link active" href="/Templates/index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Templates/registration.html">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Templates/login.html">Login</a>
        </li>
        {% endif %}
        </ul>
    </nav>
        {% block content %}{% endblock %}

    <!-- Links to  Bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <footer></footer>
    </body>
</html>