<!-- extends the parent template (base html)-->
{% extends 'base.html'%}

<!-- sets page title to Home-->
{% block title %}Home{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
    <div class="card">
        <div class="card text-center">
            <h3 class="card-header">
                Welcome To Crypto Tracker
            </h3>
            <br><br>
            <div class="container">
                <div class="row"> 
                    <div class="col-sm-6">
                        <div class="card" id="mini">
                            <p class="">
                                Free Crypto Portfolio Tracker
                                <i class="bi bi-gift-fill d-inline-block align-text-top"></i>
                            </p>
                        </div>
                        <br><br>
                        <div class="card" id="mini">
                            <p class="">
                                Top 100 crypto with live updates 
                                <i class="bi bi-bar-chart-line-fill d-inline-block align-text-top"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="card" id="mini">
                                <p class="">
                                    Access to loads of coins
                                    <i class="bi bi-unlock-fill d-inline-block align-text-top"></i>
                                </p>
                            </div>
                            <br><br>
                            <div class="card" id="mini">
                                <p class="">
                                    Easy to use, so you don't have to be a professional.
                                    <i class="bi bi-star-fill d-inline-block align-text-top"></i>
                                </p>
                            </div>
                            <br><br>
                    </div>
                </div>
            </div>
            <div class="card-footer"><a href="{% url 'userlogin' %}">Login </a>to check your portfolio or <a href="{% url 'registration' %}">Sign up</a></div>
        </div>
    </div>
</div>
{% endblock %}